<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="org.eclipse.ui.views">
        <category name="Simple Eddy" id="com.se.simplicity.editor.views" />

        <view category="com.se.simplicity.editor.views" class="com.se.simplicity.editor.ui.views.SceneComponentView" icon="icons/scene_details.gif"
            id="com.se.simplicity.editor.ui.views.SceneComponentView" name="Component Details" />
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor class="com.se.simplicity.editor.ui.editors.VisualSceneEditor" default="false" extensions="sss" icon="icons/scene_editor.gif"
            id="com.se.simplicity.editor.ui.editors.VisualSceneEditor" name="Scene Editor (Visual Only)" />

        <editor class="com.se.simplicity.editor.ui.editors.MultiPageSceneEditor" default="true" extensions="sss" icon="icons/scene_editor.gif"
            id="com.se.simplicity.editor.ui.editors.MultiPageSceneEditor" name="Scene Editor" />
    </extension>

    <extension point="org.eclipse.ui.perspectives">
        <perspective class="com.se.simplicity.editor.ui.perspectives.EditorPerspective" icon="icons/perspective.gif"
            id="com.se.simplicity.editor.ui.perspectives.EditorPerspective" name="Simple Eddy" />
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            <menu id="com.se.simplicity.editor.menus.visual" label="Visual" mnemonic="V">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.se.simplicity.editor.definition.sceneEditorSelected">
                    </reference>
                </visibleWhen>

                <menu id="com.se.simplicity.editor.menus.visual.edit" label="Editing Mode" mnemonic="E">
                    <command commandId="com.se.simplicity.editor.commands.edit" id="com.se.simplicity.editor.menus.visual.edit.selection"
                        label="Selection" mnemonic="S" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="selection" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.edit" id="com.se.simplicity.editor.menus.visual.edit.rotation"
                        label="Rotation" mnemonic="R" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="rotation" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.edit" id="com.se.simplicity.editor.menus.visual.edit.translation"
                        label="Translation" mnemonic="T" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="translation" />
                    </command>
                </menu>

                <menu id="com.se.simplicity.editor.menus.visual.drawing" label="Drawing Mode" mnemonic="D">
                    <command commandId="com.se.simplicity.editor.commands.draw" id="com.se.simplicity.editor.menus.visual.draw.faces" label="Faces"
                        mnemonic="F" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="faces" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.draw" id="com.se.simplicity.editor.menus.visual.draw.edges" label="Edges"
                        mnemonic="E" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="edges" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.draw" id="com.se.simplicity.editor.menus.visual.draw.vertices"
                        label="Vertices" mnemonic="V" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="vertices" />
                    </command>
                </menu>

                <menu id="com.se.simplicity.editor.menus.visual.select" label="Selection Mode" mnemonic="S">
                    <command commandId="com.se.simplicity.editor.commands.select" id="com.se.simplicity.editor.menus.visual.select.model"
                        label="Model Selection" mnemonic="M" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="model" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.select" id="com.se.simplicity.editor.menus.visual.select.faces"
                        label="Face Selection" mnemonic="F" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="faces" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.select" id="com.se.simplicity.editor.menus.visual.select.edges"
                        label="Edge Selection" mnemonic="E" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="edges" />
                    </command>
                    <command commandId="com.se.simplicity.editor.commands.select" id="com.se.simplicity.editor.menus.visual.select.vertices"
                        label="Vertex Selection" mnemonic="V" style="radio">
                        <parameter name="org.eclipse.ui.commands.radioStateParameter" value="vertice" />
                    </command>
                </menu>
            </menu>
        </menuContribution>

        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="com.se.simplicity.editor.toolbars.drawing">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.se.simplicity.editor.definition.sceneEditorSelected">
                    </reference>
                </visibleWhen>

                <command commandId="com.se.simplicity.editor.commands.draw" icon="icons/draw_faces.gif" id="com.se.simplicity.editor.toolbars.visual.draw.faces"
                    tooltip="Faces" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="faces" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.draw" icon="icons/draw_edges.gif" id="com.se.simplicity.editor.toolbars.visual.draw.edges"
                    tooltip="Edges" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="edges" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.draw" icon="icons/draw_vertices.gif" id="com.se.simplicity.editor.toolbars.visual.draw.vertices"
                    tooltip="Vertices" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="vertices" />
                </command>
            </toolbar>

            <toolbar id="com.se.simplicity.editor.toolbars.edit">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.se.simplicity.editor.definition.sceneEditorSelected" />
                </visibleWhen>

                <command commandId="com.se.simplicity.editor.commands.edit" icon="icons/edit_selection.gif" id="com.se.simplicity.editor.toolbars.visual.edit.selection"
                    tooltip="Selection Mode" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="selection" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.edit" icon="icons/edit_rotation.gif" id="com.se.simplicity.editor.toolbars.visual.edit.rotation"
                    tooltip="Rotation Mode" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="rotation" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.edit" icon="icons/edit_translation.gif" id="com.se.simplicity.editor.toolbars.visual.edit.translation"
                    tooltip="Translation Mode" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="translation" />
                </command>
            </toolbar>

            <toolbar id="com.se.simplicity.editor.toolbars.select">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.se.simplicity.editor.definition.sceneEditorSelected" />
                </visibleWhen>

                <command commandId="com.se.simplicity.editor.commands.select" icon="icons/select_model.gif" id="com.se.simplicity.editor.toolbars.visual.select.model"
                    tooltip="Model Selection" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="model" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.select" icon="icons/select_faces.gif" id="com.se.simplicity.editor.toolbars.visual.select.faces"
                    tooltip="Face Selection" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="faces" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.select" icon="icons/select_edges.gif" id="com.se.simplicity.editor.toolbars.visual.select.edges"
                    tooltip="Edge Selection" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="edges" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.select" icon="icons/select_vertices.gif" id="com.se.simplicity.editor.toolbars.visual.select.vertices"
                    tooltip="Vertex Selection" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="vertice" />
                </command>
            </toolbar>
            
            <toolbar id="com.se.simplicity.editor.toolbars.projection">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.se.simplicity.editor.definition.sceneEditorSelected" />
                </visibleWhen>

                <command commandId="com.se.simplicity.editor.commands.projection" icon="icons/projection_orthogonal.gif" id="com.se.simplicity.editor.toolbars.visual.projection.orthogonal"
                    tooltip="Orthogonal" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="orthogonal" />
                </command>
                <command commandId="com.se.simplicity.editor.commands.projection" icon="icons/projection_perspective.gif" id="com.se.simplicity.editor.toolbars.visual.projection.perspective"
                    tooltip="Perspective" style="radio">
                    <parameter name="org.eclipse.ui.commands.radioStateParameter" value="perspective" />
                </command>
            </toolbar>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category id="com.se.simplicity.editor.commands" name="Simple Eddy" />

        <command categoryId="com.se.simplicity.editor.commands" id="com.se.simplicity.editor.commands.draw" name="Drawing Mode">
            <commandParameter id="org.eclipse.ui.commands.radioStateParameter" name="Active Mode" optional="false" />
            <state class="org.eclipse.ui.handlers.RadioState:faces" id="org.eclipse.ui.commands.radioState" />
        </command>
        
        <command categoryId="com.se.simplicity.editor.commands" id="com.se.simplicity.editor.commands.scene" name="Scene" />

        <command categoryId="com.se.simplicity.editor.commands" id="com.se.simplicity.editor.commands.edit" name="Editing Mode">
            <commandParameter id="org.eclipse.ui.commands.radioStateParameter" name="Active Mode" optional="false" />
            <state class="org.eclipse.ui.handlers.RadioState:selection" id="org.eclipse.ui.commands.radioState" />
        </command>
        
        <command categoryId="com.se.simplicity.editor.commands" id="com.se.simplicity.editor.commands.projection" name="Projection Mode">
            <commandParameter id="org.eclipse.ui.commands.radioStateParameter" name="Active Mode" optional="false" />
            <state class="org.eclipse.ui.handlers.RadioState:perspective" id="org.eclipse.ui.commands.radioState" />
        </command>

        <command categoryId="com.se.simplicity.editor.commands" id="com.se.simplicity.editor.commands.select" name="Selection Mode">
            <commandParameter id="org.eclipse.ui.commands.radioStateParameter" name="Active Mode" optional="false" />
            <state class="org.eclipse.ui.handlers.RadioState:model" id="org.eclipse.ui.commands.radioState" />
        </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler class="com.se.simplicity.editor.handlers.DrawingModeHandler" commandId="com.se.simplicity.editor.commands.draw" />
        
        <handler class="com.se.simplicity.editor.handlers.EditingModeHandler" commandId="com.se.simplicity.editor.commands.edit" />
        
        <handler class="com.se.simplicity.editor.handlers.ProjectionModeHandler" commandId="com.se.simplicity.editor.commands.projection" />

        <handler class="com.se.simplicity.editor.handlers.SelectionModeHandler" commandId="com.se.simplicity.editor.commands.select" />
    </extension>

    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type id="com.se.simplicity.editor.sss" name="Simple Scene Source" base-type="org.eclipse.core.runtime.xml"
            file-extensions="sss" />
        <content-type id="com.se.simplicity.editor.ssb" name="Simple Scene Binary" file-extensions="ssb" />
    </extension>

    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.se.simplicity.editor.definition.sceneEditorSelected">
            <with variable="activePart">
                <instanceof value="com.se.simplicity.editor.ui.editors.SceneEditor" />
            </with>
        </definition>
    </extension>

</plugin>
