<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension 
   		point="org.eclipse.ui.views">
      <category
            name="Simple Eddy"
            id="com.se.simplicity.editor.views">
      </category>
      <view
            category="com.se.simplicity.editor.views"
            class="com.se.simplicity.editor.ui.views.SceneOutlineView"
            icon="icons/sample.gif"
            id="com.se.simplicity.editor.ui.views.SceneOutlineView"
            name="Scene Outline">
      </view>
      <view
            category="com.se.simplicity.editor.views"
            class="com.se.simplicity.editor.ui.views.SceneComponentView"
            icon="icons/sample.gif"
            id="com.se.simplicity.editor.ui.views.SceneComponentView"
            name="Component Details">
      </view>
  </extension>
  
  <extension
        point="org.eclipse.ui.editors">
      <editor
            class="com.se.simplicity.editor.ui.editors.VisualSceneEditor"
            default="false"
            extensions="sss"
            icon="icons/sample.gif"
            id="com.se.simplicity.editor.ui.editors.VisualSceneEditor"
            name="Visual Scene Editor">
  	 </editor>
      <editor
            class="com.se.simplicity.editor.ui.editors.SceneEditor"
            default="true"
            extensions="sss"
            icon="icons/sample.gif"
            id="com.se.simplicity.editor.ui.editors.SceneEditor"
            name="Scene Editor">
      </editor>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="com.se.simplicity.editor.ui.perspectives.EditorPerspective"
           icon="icons/releng_gears.gif"
           id="com.se.simplicity.editor.ui.perspectives.EditorPerspective"
           name="Simple Eddy">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
     	   id="sss"
     	   name="Simple Scene Source"
       	   base-type="org.eclipse.core.runtime.xml"      
           file-extensions="sss">
     </content-type> 
  </extension>
  
</plugin>
